<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
	<title>Ghi lại và phát lại trang web</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Phiên</li>
			</ol>
		</nav>
		<h2 class="mb-3">Danh sách bản ghi</h2>
		<div class="alert alert-warning" role="alert">
			Ghi lại và phát lại trang web
		</div>
		<ul class="list-group mb-5">
			{{ range .Sessions }}
			<a href="/session/{{ .ID }}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-2 mt-1"><span class="badge bg-primary">{{ .OS }}</span></h5>
					<h5 class="mb-2 mt-1"><span class="badge bg-success">{{ .Browser }}</span></h5>
					<small class="text-muted">{{ .CreatedAt }}</small>
				</div>
			</a>
			{{ end }}
		</ul>
		<h2 class="mb-3">Bắt đầu sử dụng</h2>
		<p>Chèn đoạn mã sau vào trong thẻ <code>&lt;head&gt;</code> vào mọi trang bạn muốn theo dõi khách truy cập</p>
		<pre>
&lt;script type=&quot;application/javascript&quot; src=&quot;{{ .URL }}/record.js&quot; &gt;&lt;/script&gt;
&lt;script type=&quot;application/javascript&quot;&gt;
window.recorder.setSession()
&lt;/script&gt;
			</pre>
	</div>
</body>

<footer class="footer">
	<div class="text-center">
		<small>
			<p class="text-muted small mb-4 mb-lg-0">&copy; Developed by <a href="https://www.linkedin.com/in/nguyen-dac-toan-a94b2a146/" title="linkedin" target="_blank">Nguyen Dac Toan</a> 2022</p>
		</small>
	</div>
</footer>

</html>