{{ define "layout_side_nav.html"}}

<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Overview</div>
                <a class="nav-link" href="/website/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
                </a>

                <div class="sb-sidenav-menu-heading">Analytics</div>
                <a class="nav-link" href="/session/record">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-video"></i></div>Records
                </a>
                <a class="nav-link" href="/session/heatmaps">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-hotjar fa-lg"></i></div>Heatmaps
                </a>

                <div class="sb-sidenav-menu-heading">Settings</div>
                <a class="nav-link" href="/profile/details">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Profile
                </a>
                <a class="nav-link" href="/website/list">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-globe"></i></div>
                    Website
                </a>
            </div>
        </div>
    </nav>
</div>

{{ end }}
