{{ define "websites.html"}}

{{ template "header.html"}}

    <body class="sb-nav-fixed">
        {{ template "layout_top_nav.html"}}
        <div id="layoutSidenav">
            {{ template "layout_side_nav.html"}}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Setting</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/website/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Website</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="col-mb-6">
                                    <a href="/website/add"><button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add Website</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                List Website
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th class="header">URL</th>
                                        <th class="header">Host Name</th>
                                        <th class="header">Category</th>
                                        <th class="header">Created</th>
                                        <th class="header">Updated</th>
                                        <th class="header">Action</th>
                                    </tr>
                                    {{ range .Websites }}
                                    <tr>
                                        <td class="mb-2 mt-1">{{ .URL }}</td>
                                        <td class="mb-2 mt-1">{{ .HostName }}</td>
                                        <td class="mb-2 mt-1">{{ .Category }}</td>
                                        <td class="mb-2 mt-1">{{ .CreatedAt }}</td>
                                        <td class="mb-2 mt-1">{{ .UpdatedAt }}</td>
                                        <td>
                                            <a href="/session/record/{{ .ID }}"><button class="btn btn-success btn-sm" title="View website records"><i class="fa-solid fa-eye"></i></button></a>
                                            <a href="/website/tracking/{{ .ID }}"><button class="btn btn-success btn-sm" title="Generate tracking code"><i class="fa-solid fa-code"></i></button></a>
                                            <a href="/website/delete/{{ .ID }}"><button class="btn btn-success btn-sm" title="Delete website"><i class="fa-solid fa-trash-can"></i></button></a>
                                        </td>
                                    </tr>
                                    {{ end }}
                                </table>
                            </div>
                            </div>
                    </div>
                </main>
                {{ template "footer.html"}}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>

{{ end }}
