{{ define "website.html" }}

{{ template "header.html"}}

    <body class="sb-nav-fixed">
        {{ template "layout_top_nav.html"}}
        <div id="layoutSidenav">
            {{ template "layout_side_nav.html"}}                
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Setting</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/website/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active"><a href="/website/list">Website</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">

                                <form action="/website/add" method="post">

                                    <div class="col-mb-6">
                                        <h6 class="mb-2 text-primary">Website Details</h6>
                                    </div>
                                    
                                    <div class="row mb-3">

                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="url">URL</label>
                                                <input type="text" class="form-control" placeholder="Enter your url website" name="url" required>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="type">Type</label>
                                                <input type="text" class="form-control" placeholder="Enter your type website" name="type" required>
                                            </div>
                                        </div> -->

                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Enter your url website" name="url" required>
                                                <label>Enter your url website</label>
                                            </div>
                                        </div>
  
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <select name="category" type="text" class="form-select">
                                                    <option selected>Please select...</option>
                                                    <option>E-commerce</option>
                                                    <option>Marketplace</option>
                                                    <option>Consulting</option>
                                                    <option>Media</option>
                                                    <option>Blog or Personal</option>
                                                    <option>Education</option>
                                                    <option>Community</option>
                                                    <option>Other</option>
                                                </select>
                                                <label>Choose category</label>
                                            </div>
                                        </div>

                                        

                                    </div>

                                    

                                    <div class="col-mb-6">
                                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add Website</button>
                                    </div>

                                <!-- <div class="row">
                                
                                    <div class="col-md-6"> -->

                                        <!-- <div class="col-mb-6">
                                            <h6 class="mb-2 text-primary">Website Details</h6>
                                        </div> -->

                                        <!-- <div class="col-mb-6">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" placeholder="Enter your name website" name="name">
                                            </div> -->

                                            <!-- <div class="form-group">
                                                <label for="url">URL</label>
                                                <input type="text" class="form-control" placeholder="Enter your url website" name="url">
                                            </div> -->
                                        <!-- </div>
                                    </div> -->

                                

                                    <!-- <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="url">URL</label>
                                            <input type="text" class="form-control" placeholder="Enter your url website" name="url">
                                        </div> -->

                                        <!-- <div class="col-mb-6">
                                            <h6 class="mb-2 text-primary">Time Details</h6>
                                        </div>

                                        <div class="col-mb-6">
                                            <div class="form-group mb-3">
                                                <label for="created">Created Time</label>
                                                <input type="text" class="form-control" name="created" value="{{ .User.CreatedAt }}" readonly>
                                            </div>
                                        </div>

                                        <div class="col-mb-6">
                                            <div class="form-group mb-3">
                                                <label for="updated">Updated Time</label>
                                                <input type="text" class="form-control" name="updated" value="{{ .User.UpdatedAt }}" readonly>
                                            </div>
                                        </div> -->

                                    <!-- </div> -->

                                <!-- </div> -->
                            </form>
                            
                            </div>
                </main>
                {{ template "footer.html"}}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>

{{ end }}
